
<div class="jumbotron intro">

  <div class="row">
    <div class="col-md-6 text-right">
      <iframe src="//player.vimeo.com/video/42599889" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-md-6 text-left">
      <img src="/assets/logo.png" />

      <br/><br/><br/>
      <div class="row text-center">
        <button type="button" class="btn btn-primary btn-lg">Busca <i class="fa fa-search"></i></button>
        <button type="button" class="btn btn-primary btn-lg">Crea <i class="fa fa-pencil-square-o"></i></button>
      </div>
    </div>
  </div>

</div>
<hr/>
